
:root {
    font-size: 24px;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
    background: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blank-message {
    font-size: 3rem;
}